.heading {
  padding: 10px;
  font-size: 3vw;
  color: #7c795d; font-family: 'Trocchi', serif; font-weight: normal; line-height: 48px; margin: 0;
}

.paragraph {
  margin: 20px 10px;
}
.list{
  list-style: circle inside;
  padding-left: 20px;
}
.list li{
  margin-bottom: 5px;
}